.bg-gradient-primary{
    background-color: rgb(5, 109, 99);
    background-image: unset;
}

.bg-white{
    background-color: rgb(41, 42, 46)!important;
}

.text-white{
    color: white!important;
    font-size: initial;
}

.sidebar-heading{
    color: white!important;
}

.btn-primary{
    background-color: rgb(5, 109, 99);
    border-color: rgb(5, 109, 99);
}

.btn-primary:hover{
    background-color: rgb(5, 109, 99);
    border-color: rgb(5, 109, 99);
    color: white;
}

#htmlEditor{
    height: 47%;
    width: 45%;
    display: inline-block;
}
#cssEditor{
    height: 47%;
    width: 45%;
    display: inline-block;
}
#javascriptEditor{
    height: 47%;
    width: 45%;
    display: inline-block;
}
#result{
    height: 47%;
    width: 45%;
    display: inline-block;
    background-color: white;
}

#container{
    
    width: auto;
    white-space: nowrap;
    overflow: hidden;
}